.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  gap: 1rem;

  .articleJournal {
    font-size: 1.5rem;
    font-weight: bold;
    width: 5rem;
    color: #000;
   
    filter: invert(1) saturate(60) brightness(0.45) hue-rotate(50deg)
      contrast(1);

  }
  .articleTitle {
    font-size: 2.5rem;
    font-weight: 600;
    color: #000;
    line-height: 2.75rem;
    transition: color 0.3s ease-in-out;
  }
  .articleTitle:hover {
    color: #153dbc;
  }
}

@media screen and (max-width: 600px){
  .article {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    gap: 1rem;
  
    .articleJournal {
      font-size: 1rem;
      font-weight: bold;
      width: 5rem;
      color: #000;
     
      filter: invert(1) saturate(60) brightness(0.45) hue-rotate(50deg)
        contrast(1);
  
    }
    .articleTitle {
      font-size: 2rem;
      font-weight: 600;
      color: #000;
      line-height: 2.15rem;
      transition: color 0.3s ease-in-out;
    }
    .articleTitle:hover {
      color: #153dbc;
    }
  }
}