.item {
    display: inline-block;
    position: relative;
    font-family: 'Syne';
    font-weight: 600;
    padding-left: .5rem;
    color: #000;
    position: relative;
    z-index: 3;
  }
  
  .item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: .5rem;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    padding-left: .5rem;

  }