.title{
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 1rem;
font-family: 'Syne';


.titleTop{
    text-align: center;
    font-size: 6rem;
    line-height: 5.5rem;
    font-weight: 700;
    color: #fff;

    .underLine{
        font-weight: 800;
        line-height: 5rem;
        color: #fff;
    }
}

.titleBottom{
    text-align: center;
    width: 30%;
    font-size: 1.25rem;
    color: #fff;
}


.titleButton{
    background-color: white;
    width: 4rem;
    border-radius: 50%;
    margin-top: 2rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #000;
}

.titleButton::before{
    content: '';
    display: block;
    padding-top: 100%;
}

.shortcuts{
    position: absolute;
    left: .5rem;
    top: 80%;
}

}

