.imageContainer{
    display: none;
}

.imageContainer {
    background-color: #153dbc;
    border-radius: 1rem;
}

@media only screen and (min-width: 1000px) {
   
    .imageContainer{
        display: block;
        margin-top: 1rem;
        width: 450px;
        height: 450px;
        position: relative;

        img{
            object-fit: cover;
        }
    }
    
}
