.nav{
   overflow: hidden;
   color: #000;

   .wrapper{
        display: flex;
        gap: 50px;
        font-size: 'Syne';
        margin-bottom: 80px;
        color: rgba(60,60,60, 0.2);

    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: rgba(60,60,60, 0.2);
    }
}

@media only screen and (min-width: 1000px) {
    .nav{
        .wrapper{
            margin-bottom: 0px;
            justify-content: space-between;
            color: #000;
        }
    }
}
