.featuresSection{
    max-width: 800%;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 0 3rem;
    padding-top:5rem;
    padding-bottom: 0;
    justify-content: space-around;
    gap: 10rem 10%;

    .feature{
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .featuretext{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .featureicon{
            font-size: 2rem;
            width: 5rem;
            height: 5rem;
            border-radius: 1.25rem;
            background-color: #F23041;

            .icon{
                color: white;
                font-size: 2rem;
                fill: #fff;
                padding: .5rem;
                stroke-width: .1rem;
            }

        }

        .featuretextPrev{
            margin-top: 2rem;
            font-size: 2rem;
            margin-bottom: 1rem;
            font-family: 'Syne';
            font-weight: 700;
        }

        .featuretextNext{
            font-size: 1.1rem;
            font-family: 'Syne';
            width: 70%;
            font-weight: 500;
            text-align: center;
        }
    }
}