

.container {
  overflow: visible;
  max-width: 100vw;

  .page0 {
    height: 100vh;
    max-width: 100vw;
    background-color: #fff;
    overflow: hidden;
  }

  .nav {
    position: fixed;
    width: 100vw;
    z-index: 3;
  }

  .title {
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    z-index: 2;
  }

  .page1 {
    background-color: #000;
    position: relative;
    overflow: visible;
    max-width: 90vw;
  }

  .page2 {
    border-radius: 6rem 6rem 0 0;
    position: relative;
    overflow: visible;
    z-index: 2;
    width: 100%;
    background-color: #fff;
  }

  .page3 {
    position: relative;
    z-index: 3;
    background-color: red;
  }
}
