.viewMain{
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.nav{
  position: fixed;

  width: 100vw;
  z-index: 3;
}

.title{
  position: absolute;
  top: 0%;

  display: flex;
  align-items: center;
  z-index: 2;
}

.page1{
  height: 100vh;
  background-color: #000;
  position: relative;
}

.page2{
    height: 60vw;
    width: 100vw;
    background-color: #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        height: 100%;
    }
}

.page3{
  position: sticky;
  border: none;
}
