.main{
    font-family: 'Syne';
    font-size: .7rem;
    color: rgba(255,255,255,0.5);
    display: flex;
    margin-left: 2rem;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    
    .container{
        display: flex;
        svg{
            max-height: 20px;
            width: 20px;           
            background-color: rgba(255,255,255,0.2);
            border-radius: 50%;
            margin-right: 1rem;
            padding: 0.5rem;
            fill: #153dbc;
            transition: fill 0.2s;
            cursor: pointer;
            
            &:hover{
                fill: #fff ;
            }
        }
    }
    p{
        color:#494136;
    }
}

@media only screen and (max-device-width: 600px) {
    .main{
        font-family: 'Syne';
        font-size: .7rem;
        color: rgba(255,255,255,0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
        
        .container{
            display: none;
            svg{
                max-height: 20px;
                width: 20px;           
                background-color: rgba(255,255,255,0.2);
                border-radius: 50%;
                margin-right: 1rem;
                padding: 0.5rem;
                fill: #153dbc;
                transition: fill 0.2s;
                cursor: pointer;
                
                &:hover{
                    fill: #fff ;
                }
            }
        }
        p{
            color:#494136;
        }
    }
}