.footerTitle{ 
    font-family: 'Syne';
    font-size: 1rem;
    font-weight: 800;
    color: #000;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.col{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    justify-content: center;
    padding: 1rem;
    gap: .5rem;
    transition: background-color 0.25s ease-out;
}