.container {

  .upper {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    .top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Syne";
      font-weight: 700;

      .icon {
        width: 6rem;
        border-radius: 1.75rem;
        overflow: hidden;
        box-shadow: 0px 0px 5rem rgba(255, 255, 255, 0.25);
        background-color: #F23041;
      }
      .icon::before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }
  }

  .lower{

    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    .textPrev{
        font-size: 3rem;
        font-family: 'Syne';
        font-weight: 700;
    }
    .textNext{
        font-size: 1.5rem;
        font-family: 'Syne';
        font-weight: 200;
        width: 50%;
        text-align: center;
    }
}
}
